<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./main.css" />
</head>
<body>
    <header>
        <ul class="ul1">
            <li>Home</li>
            <li>About</li>
            <li>Blog</li>
            <li>Contact</li>
        </ul>
    </header>

    <section>
        <div class="left-section">
            <h1>Heading 1</h1>
            <hr>
            <h2>Heading 2</h2>
            <hr>
            <h3>Heading 3</h3>
            <hr>
            <h5>Heading 4</h5>
            <hr>
            <h6>Heading 5</h6>
            <hr>
            <h4>Heading 6</h4>
        </div>

        <div class = "right-section">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla ad quae animi ducimus sapiente quod, doloremque blanditiis quaerat, voluptatum, aliquid sint ipsa ratione rerum veniam? Nam eius sint laboriosam, minus culpa sunt repellat eaque ab sed consectetur. Rerum, nam aspernatur amet placeat maxime cupiditate non ut, maiores debitis repellat unde!</p>
            <hr>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla ad quae animi ducimus sapiente quod, doloremque blanditiis quaerat, voluptatum, aliquid sint ipsa ratione rerum veniam? Nam eius sint laboriosam, minus culpa sunt repellat eaque ab sed consectetur. Rerum, nam aspernatur amet placeat maxime cupiditate non ut, maiores debitis repellat unde!</p>
            <hr>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla ad quae animi ducimus sapiente quod, doloremque blanditiis quaerat, voluptatum, aliquid sint ipsa ratione rerum veniam? Nam eius sint laboriosam, minus culpa sunt repellat eaque ab sed consectetur. Rerum, nam aspernatur amet placeat maxime cupiditate non ut, maiores debitis repellat unde!</p>
        </div>
    </section>

    <footer>
        <p>Made By Raj </p>
    </footer>
</body>
</html>